<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta property="og:site_name" content="GuideGenie" />--> <!-- website name -->
    <!--<meta property="og:description" content="Welcome to GuideGenie where we provide personalised university guidance for high school students.  " />--><!-- description shown in the actual shared post -->
    <!--<meta property="og:image" content= "assets/img/Student-Discussing-in-library.png" />--> <!-- image link, make sure it's jpg -->
 
    <!--<meta name="description" content="Welcome to GuideGenie where we provide personalised university guidance for high school students." >-->
    <!--<meta name="author" content="GuideGenie">-->

   
    <title>Contact Us</title>
    <link href="assets/img/logopng2.png" rel="icon">
    <!-- StyleSheet-->
    
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/boxicons.min.css">
    <link rel="stylesheet" href="css/bootstrap-login-form.min.css">
    <link rel="stylesheet" href="css/login.css">
    
   
  



</head>

   
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="#"><span>Contact Us</span></a></h1>
       <!-- Uncomment below if you prefer to use an image logo -->
      <!--  <a href="#"><img src="images/black.png" alt="#" class="img-fluid"></a>-->
     </div>


     
    </div>
  </header><!-- End Header -->

  <!-- Login Form -->                    
  
  <body>
    <!-- Start your project here-->
  
    <style>
      .divider:after,
      .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
      }
      .error {
        color: red;
      
      }
    </style>
    <section class="vh-100">
      <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
          <div class="col-md-8 col-lg-7 col-xl-6">
            <img src="assets/img/currencysvg/Get in touch-pana.svg" class="img-fluid" alt="contactus">
          </div>
          <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <form action="mailto:guidegenie.ng@gmail.com" method="post">
               <!-- Username -->
               <div class="form-outline mb-4">
                <input type="email" placeholder="" name="" required=""  class="form-control form-control-lg" />
                <label class="form-label" for="form1Example13">Email Address</label>
              </div>
  
              <!-- Email input -->
             
  
              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="text" placeholder="" name=""  required="" class="form-control form-control-lg" />
               
                <label class="form-label" for="form1Example23">Message</label>
              </div>
  
              <div class="d-flex justify-content-around align-items-center mb-4">
                <!-- Checkbox -->
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                   
                    
                    checked
                  />
                  <label class="form-check-label" > Subscribe to our newsletter </label>
                </div>

                </div>

              
  
              <!-- Submit button -->
              <button type="submit" value="Submit" class="btn btn-primary btn-lg btn-block">Get in Touch</button>
  
              <div class="divider d-flex align-items-center my-4">
                <p class="text-center fw-bold mx-3 mb-0 text-muted"><a href="https://wa.me/message/7DWHEOUGFOJ4A1" target="_blank">Or send a message on WhatsApp</a></p>
              </div>
              
              <div class="divider d-flex align-items-center my-4">
                <p class="text-center fw-bold mx-3 mb-0 text-muted"> </p>
              </div>
            </form>
           
          </div>
        </div>
      </div>
    </section>
    <!-- End your project here-->

  


  
    <script type="text/javascript" src="js/mdb.min.js"></script>

  </body>

</html>