<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Stage 1</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

<!-- Favicons -->
<link rel="icon" href="assets/img/logopng2.png">
 


<style>
    /* CSS code */
    

    .button {
        display: inline-block;
      padding: 7px 10px;
      font-size: 16px;
      font-weight: bold;
    
      text-decoration: none;
      color: #ffffff;
      background-color: goldenrod;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      margin-right: 4px;
      
    }

    /* Style for the next button */
   /* #next {
     
    }*/

    /* Style for the previous button */
    /*#prev {
      
    }*/

    /* Style for button hover */
    .button:hover {
      color: whitesmoke;
      background-color: rgb(92, 91, 91);  
      opacity: 0.8;
    }

    table {
        font-family: Arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      th, td {
        text-align: left;
        padding: 8px;
      }
      
      th {
        background-color: whitesmoke;
        color: black;
        border-radius: gold;
        box-shadow: goldenrod;
      }
      
      tr:nth-child(even) {
        background-color: whitesmoke;
        color: black;
      }
      
      @media only screen and (max-width: 600px) {
        table {
          font-size: 12px;
        }
        
        th, td {
          padding: 6px;
        }
      }

  </style>

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="gedforex/vendor/animate.css/animate.min.css" rel="stylesheet">
<link href="gedforex/vendor/aos/aos.css" rel="stylesheet">
<link href="gedforex/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="gedforex/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="gedforex/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="gedforex/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="gedforex/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="gedforex/css/style10.css" rel="stylesheet">


</head>

<body>
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <a href="#" class="logo me-auto"><img src="assets/img/logopng2.png" alt="" class="img-fluid"></a>

    <h1 class="logo me-auto"><a href="#"></a></h1>


   
    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>

        <li><a href="/forexDetail">Home</a></li>
      
        <li><a href="/gedmentor">Mentorship Program</a></li>
        <li><a href="/contact2">Contact Us</a/li>

      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
    
  </div>
</header><!-- End Header -->



  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>STAGE 1 </h2>
        <p></p>
      </div>
    </div><!-- End Breadcrumbs -->


    <!-- ======= Cource Details Section ======= -->
    <section id="course-details" class="course-details">
      <div class="container" data-aos="fade-up">

        <div class="row">
         
         
            <h3>INTRODUCTION</h3>
            
            <p>
                Welcome to the biggest financial market in the world, "FOREX". This brings us to "what is forex”
            </p>
            <h3>WHAT IS FOREX?</h3>
            <p>
             The foreign exchange market is a global decentralized or over - the - counter market for the trading of currencies. This market determines foreign exchange rates for every currency. It includes all aspects of buying, selling and exchanging currencies at current or determined prices. In terms of trading volume, it is by far the largest market in the world, followed by the credit market and it has a daily spill of 6.6 trillion dollars and is open 24/5. 
                
            </p>
           <h3>WHAT IS TRADED IN FOREX</h3>
           <p>
            Trading forex involves the buying of one currency and simultaneous selling of another. In forex, traders attempt to profit by buying and selling currencies by actively speculating on the direction currencies are likely to take in the future currencies such as: EURUSD, GBPUSD, EURJPY, USDCAD, AUDJPY, USDZAR. 

            </p>
            <h3>WHO IS A FOREX BROKER</h3>
            <p>
                A forex broker is a financial service company that provides traders access to a platform for buying and selling foreign currencies. Forex is short for foreign exchange. Transactions in the forex market are always between a pair of two different currencies. A forex broker may also known be as a retail forex broker or a currency trading broker, and they are also an intermediary between an end user and the forex market
            </p>
            <h3>TRADING TIMES AND TRADING SESSIONS</h3>
            <p>
                It is very important to know trading times has it will help to know when to trade and enter the market. Yes, it is true that the forex market is open 24 hours a day, but that doesn’t mean it’s always active the entire day. The forex market can be broken up into four major trading sessions: the Sydney session, the Tokyo session, the London session, the New York session. These sessions consist of the Asian, European, and North American sessions, which are also called Tokyo, London, and New York sessions. 
            </p>
           
          
        </div>



        <table>
            <thead>
              <tr>
                <th>Local Time</th>
                <th>EST</th>
                <th>UTC</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><p>Sydney Open – 7:00 AM</p>

                    <p>
                        Sydney Close – 4:00 PM 
                    </p>
                </td>
                <td><p>4:00 PM</p>

                    <p>
                    1:00 AM 
                    </p>
                </td>

                <td><p>9:00 PM</p>

                    <p>
                    6:00 AM 
                    </p>
                </td>
              </tr>
              <tr>
                <td><p>Tokyo Open – 9:00 AM 
                </p>

                    <p>
                        Tokyo Close – 6:00 PM 

                    </p>
                </td>
                <td><p>7:00 PM</p>

                    <p>
                    4:00 AM 
                    </p>
                </td>
                <td><p>12:00 AM</p>

                    <p>
                    9:00 AM 
                    </p>
                </td>
              </tr>
              <tr>
                <td><p>London Open – 8:00 AM </p>

                    <p>
                        London Close – 5:00 PM
                    </p>
                </td>
                <td><p>2:00 AM</p>

                    <p>
                    11:00 AM 
                    </p>
                </td>

                <td><p>7:00 AM</p>

                    <p>
                    4:00 PM 
                    </p>
                </td>
              </tr>
              <tr>
                <td><p>New York Open – 8:00 AM</p>

                    <p>
                        New York Close – 5:00 PM 
                    </p>
                </td>
                <td><p>8:00 AM</p>

                    <p>
                    5:00 PM 
                    </p>
                </td>
                <td><p>1:00 PM</p>

                    <p>
                    10:00 PM 
                    </p>
                </td>
              </tr>
              
    

            </tbody>
        </table>
    </div>      
        
    
      
    </section><!-- End Cource Details Section -->
    <section id="course-details" class="course-details">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
           
           
              <h3>TERMINOLOGIES USED IN FOREX</h3>
              
              <p>
                1. Bullish (when market is buying) 

              </p>
              <p>
                2. Bearish (when market is selling)
              </p>
              <p>
                3. Pips (percentage in point) 

              </p>
              <p>
                4. Base and counter currencies( e.g.: EURUSD” EUR is the base, USD is the counter” etc.) 
              </p>
              <h3>FORMS OF TRADING: There are different forms of trading which are</h3>
              <p>
                1. Scalp traders (this are traders that takes trades in minutes ad close profit or loss in minutes also) 
                  
              </p>
              <p>
                2. Day traders (this are traders that holds trades for more than minutes sometimes 24 hours and close either profit or loss) 
              </p>
              <p>
                3. Swing traders (this are traders that holds trades for more than a day sometimes 2 days even weeks sometimes) 

              </p>
              <p>
                <b>There are more forms but most still fall under this 3.</b>

              </p>
              <h3>
                CURRENCY PAIRS
              </h3>
              <p>
                GBPUSD
              </p>
              <p>
                EURUSD 

              </p>
              <p>
                USDCAD
              </p>
              <p>
                USDJPY
              </p>
              <p>
                USDCHF
              </p>
              <p>
                XAUUSD 

              </p>
              <p>
                GBPJPY
              </p>
              <p>
                AUDUSD
              </p>
             <h3> MT4 INTERFACE PART 1</h3>
             <p>
                Go to either App store or Google play store and download “meta trader4”.
  
              </p>
              
            
          </div>
       </div>
   </section>  

    

        
        

   
       

    <div class="text-center mt-5">
        <a button class="button" id="prev" href="/forexDetail">Previous</a>

        <a button class="button" id="prev" href="/forex2">Next</a>
         
        </div>

                

                
                
                
            </div>	            
          </div><!--//container-->
      </div><!--//section-content-->

    

   
  </main><!-- End #main -->

 
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="gedforex/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="gedforex/vendor/aos/aos.js"></script>
  <script src="gedforex/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="gedforex/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="gedforex/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="gedforex/js/main.js"></script>

</body>

</html>