<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Stage 2</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

<!-- Favicons -->
<link rel="icon" href="assets/img/logopng2.png">
 


<style>
    /* CSS code */
    

    .button {
        display: inline-block;
      padding: 7px 10px;
      font-size: 16px;
      font-weight: bold;
    
      text-decoration: none;
      color: #ffffff;
      background-color: goldenrod;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      margin-right: 4px;
      
    }

    /*.video-container {
    
      padding-bottom: 10px; /* 16:9 aspect ratio */
      /*height: 0;
    }*/

   /*.video-container iframe {
      position: center;
      top: 5px;
     
    }*/
    b{
      color: #ffffff;
      
    }
    b:hover{
      color: gold;
    }
    
    .img-container{
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      background-size: cover;
      background-position: center;

    }

    /* Style for the next button */
   /* #next {
     
    }*/

    /* Style for the previous button */
    /*#prev {
      
    }*/

    /* Style for button hover */
    .button:hover {
      color: whitesmoke;
      background-color: rgb(92, 91, 91);  
      opacity: 0.8;
    }

    table {
        font-family: Arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      th, td {
        text-align: left;
        padding: 8px;
      }
      
      th {
        background-color: whitesmoke;
        color: black;
        border-radius: gold;
        box-shadow: goldenrod;
      }
      
      tr:nth-child(even) {
        background-color: whitesmoke;
        color: black;
      }
      
      @media only screen and (max-width: 600px) {
        table {
          font-size: 12px;
        }
        
        th, td {
          padding: 6px;
        }
      }

      

  </style>

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="gedforex/vendor/animate.css/animate.min.css" rel="stylesheet">
<link href="gedforex/vendor/aos/aos.css" rel="stylesheet">
<link href="gedforex/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="gedforex/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="gedforex/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="gedforex/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="gedforex/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="gedforex/css/style10.css" rel="stylesheet">


</head>

<body>
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <a href="#" class="logo me-auto"><img src="assets/img/logopng2.png" alt="" class="img-fluid"></a>

    <h1 class="logo me-auto"><a href="#"></a></h1>


   
    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>

        <li><a href="/forexDetail">Home</a></li>
      
        <li><a href="/gedmentor">Mentorship Program</a></li>
        <li><a href="/contact2">Contact Us</a/li>

      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
    
  </div>
</header><!-- End Header -->



  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>STAGE 2 </h2>
        <p></p>
      </div>
    </div><!-- End Breadcrumbs -->


    <!-- ======= Cource Details Section ======= -->
    <section id="course-details" class="course-details">
      <div class="container" data-aos="fade-up">

        <div class="row">
         
         
           <h3>WHAT IS PIP?</h3>
            
            <p>
                Pip is an acronym for <b>"percentage in point" or "price interest point."</b> A pip is the <b>smallest price move that an exchange rate can make based on forex market</b> convention. Most currency pairs are priced out to four decimal places and the pip change is the last (fourth) decimal point. A pip is thus equivalent to 1/100 or 1% or one basis point. 

            </p>
            <h3>How PIP WORKS</h3>
            <p>
                A pip is a basic concept of foreign exchange (forex). Forex pairs are used to disseminate exchange quotes through bid and ask quotes that are accurate to four decimal places. In simpler terms, forex traders buy or sell a currency whose value is expressed in relationship to another currency. 
                
            </p>
           <h3>CONCEPT OF BID AND ASK PRICE</h3>
           <p>
            The bid price represents the highest-priced buy order that's currently available in the market. The ask price is the lowest priced sell order that's currently available or the lowest price that someone is willing to sell at. The difference in price between the bid and ask prices is called the "bid-ask spread." The first numbers you see is your BID PRICE while second numbers are the ASK PRICE 

            </p>
            
            
            <div class="img-container">
              
              <img src="assets/img/forex2i.png" class="img-fluid" alt="">
             </div>

        
           <p>
            <center>Your BASE CURRENCY PRICE IS THE BID PRICE and COUNTER CURENCY PRICE IS THE ASK PRICE </center>
            </p>

            <h3>WHAT IS A SPREAD?</h3>
           <p>
            Spread is the different between BID and ASK PRICE
            </p>

            <h3>FORMS OF TRADING ORDERS
              
            </h3>
           <p>
            The forms of trading orders include:
            </p>
            <p>
              Market execution 

            </p>
            <p>
              Pending order(buy stop, sell stop, buy limit, sell limit). 
            </p>

            <h3>CONCEPT OF TAKE PROFIT AND STOP LOSS</h3>
           <p>
            Stop-loss and take-profit work in pretty much the same way but their levels are determined differently. Stop-loss signals serve the purpose of minimizing the expenses of an unsuccessful trade, while take-profit orders provide traders with an opportunity to take the money at the peak of the deal. Take profit is also your profit take level,and stop loss is also your loss hold level 
            </p>

            <h3>HOW TO SET YOUR TP AND SL: FIRST PICK A PAIR</h3>
            <p>
              EXAMPLE: EURUSD (if you are buying) 0.0001 multiplied by amount of pips added to the ask price 
              
            </p>
            <div class="img-container">
              
              <img src="assets/img/forex2ii.png" class="img-fluid" alt="">
            </div>

           <center><p>
            0.0001 multiplied by 20pips (0.002) + 1.0664 = 1.0684 (20pips tp for EU buy). 
            </p>
            <p>
              0.0001 multiplied by 20pips (0.002) - 1.0664 = 1.0644 (20pips sl for EU buy). 
            </p>

            <p>
              If you are selling EURUSD: 0.0001 multiplied by 20pips (0.002) - 1.0661 = 1.0641 (20pips tp for EU SELL). <p>0.0001 multiplied by 20pips (0.002) + 1.0661 = 1.0681 (20pips sl for EU sell). </p>
              
            </p>
      
          </center>
          
          <h3>
            NB: THIS CALCULATION IS APPLICABLE TO ALL USD PAIRS EXCEPT JPY PAIRS AND XAU, JPY AND XAU CALCULATION BELOW.
          </h3>

          <div class="img-container">
              
            <img src="assets/img/forex2iii.png" class="img-fluid" alt="">
          </div>

          <h3>
            JPY PAIR
          </h3>
          <p>
            PAIR: GBPJPY (126.58 BIDPRICE) ( 126.65 ASK PRICE) 
          </p>
          <p>
            If you are buying GJ: 0.01 multiplied by 20pips (0.2) + 126.65 = 126.85 (20pips tp for GJ buy). GBPJPY 0.01 multiplied by 20pips (0.2) - 126.65 = 126.45 (20pips SL for GJ buy) 

          </p>
          <p>
            If you are selling GJ: 0.01 multiplied by 20pips (0.2) - 126.58 = 126.38 (20pips tp for GJ SELL). GBPJPY 0.01 multiplied by 20pips (0.2) + 126.58 = 126.78 (20pips tp for GJ SELL) 
          </p>
          <h3>XAU PAIR</h3>
          <p>
            PAIR: XAUUSD (1744.20 BIDPRICE) (1745.20 ASK PRICE)
          </p>
          <p>
            If you are buying XAUUSD(GOLD): 0.1 multiplied by 20pips (2) + 1745.20 = 1765.20 (20pips tp for XAU buy).XAUUSD 0.1 multiplied by 20pips (2) + 1745.20 = 1725.20 (20pips sl for XAU buy) 

          </p>
          <p>
            If you are selling XAUUSD(GOLD): 0.1 multiplied by 20pips (2) - 1744.20 = 1722.20 (20pips tp for XAU sell). XAUUSD 0.1 multiplied by 20pips (2) + 1744.20 = 1766.20 (20pips sl for XAU sell) 
          </p>
          <h3>
            LEVERAGE
          </h3>
          <p>
            In the foreign exchange markets, leverage is commonly as high as 100:1. This means that for every $1,000 in your account, you can trade up to $100,000 in value. Many traders believe the reason that forex market makers offer such high leverage is that leverage is a function of risk. They know that if the account is properly managed, the risk will also be very manageable, or else they would not offer the leverage. Also, because the spot cash forex markets are so large and liquid, the ability to enter and exit a trade at the desired level is much  easier than in other less liquid markets. 
            
          </p>
          <p>
            In trading, we monitor the currency movements in pips, which is the smallest change in currency price and depends on the currency pair. These movements are really just fractions of a cent. For example, when a currency pair like the GBP/USD moves 100 pips from 1.9500 to 1.9600—that is, just a 1 cent move of the exchange rate. 
          </p>
          <h3>LOTSIZE: 3 types of lot size 
          </h3>
          <p>
            1. Standard lot (1.0) 
          </p>
          <p>
            2. Mini lot (0.1)
          </p>
          <p>
            3. Micro lot (0.01) 
          </p>
          <h3> Standard lot </h3>
          <p>
            A standard lot corresponds to 100 000 units of the base currency in a quote of currency pairs. Put in other words, 100 000 units = 1 lot. 

          </p>
          <p>
            For example: Assume you want to buy a standard lot (100 000 units) of GBP/USD. The exchange rate is 1.24, meaning you will pay USD1.24 for one British pound. What will happen is that you will purchase £100 000 with $124 000. 

          </p>
          <p>
            However, if your broker authorises you to use leverage you don’t need $124000. With leverage of 1:100, you will only need $1 240 ($124 000/100 = $1 240) to finalise your order. 
          </p>
          <h3>
            Mini lot

          </h3>
          <p>
            A mini lot equals 10% of a standard lot (100 000 x 0.10) = 10 000 units of a base currency. Thus, when you open a trade with a 0.10 lot, you will trade 1 mini lot. 

          </p>
          <p>It is a great choice for those forex traders who may want to trade with a lower, or perhaps no leverage at all. </p>
          <h3>
            Micro Lot 

          </h3>
          <p>
            A micro lot is 1% of a standard lot (100 000 x 0.01) = 1 000 units of a base currency. Therefore, when you open a trade with a 0.01 lot, you will trade 1 micro lot. 
          </p>
          
            <h3>Risk management</h3> <p>Only risk 1-2% of your account per trade and make 100% of your capital in a month, don’t over leverage your account and for every $100 to $200 account only use 0.01 to 0.02%
          </p>
          <h3>
            Common mistakes by traders
          </h3>
          <p>
            1. Want to flip account 

          </p>
          <p>
            2. Greed
          </p>
          <p>
           3. Want to make 100% of their account in a day and lots more 

          </p>
          <h3>
            Trading Plan
          </h3>
          <p>
            Trading plans entails how your trading should be and try following it 
          </p>
          <p>
            Eg: I wanna make 5% daily, lose only 2% and I want to only withdraw 50% profit monthly and I don’t wanna trade more than 3 pairs per day and so on……. 
          </p>
          <h3>
            MT4 INTERFACE PART II
          </h3>
          <p>
          <a href="/stage3"><b>Sign up to learn more</b></a> 
          </p>
        </div>
    </section>
     
      


        

    

        
        

   
       

    <div class="text-center mt-5">
        <a button class="button" id="prev" href="/forex1">Previous</a>

        <a button class="button" id="prev" href="/stage3">Next</a>
         
        </div>

                

                
                
                
            </div>	            
          </div><!--//container-->
      </div><!--//section-content-->

    

   
  </main><!-- End #main -->

 
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="gedforex/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="gedforex/vendor/aos/aos.js"></script>
  <script src="gedforex/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="gedforex/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="gedforex/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="gedforex/js/main.js"></script>

</body>

</html>