<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="Gold Elite Deals - Your premier Forex Academy offering comprehensive courses, expert education, and valuable resources. Learn forex trading from industry professionals, master trading strategies, and gain the knowledge to excel in the forex market. Join us today and take your forex trading skills to the next level.">
  <meta name="author" content="Gold Elite Deals">
  <meta name="robots" content="GED">
  <meta property="og:title" content="Gold Elite Deals - Premier Forex Academy for Forex Trading Education">
  <meta property="og:description" content="Gold Elite Deals - Your premier Forex Academy offering comprehensive courses, expert education, and valuable resources. Learn forex trading from industry professionals, master trading strategies, and gain the knowledge to excel in the forex market. Join us today and take your forex trading skills to the next level.">
  <meta property="og:image" content="assets/img/ged.jpg">
  <meta name="twitter:title" content="Gold Elite Deals - Premier Forex Academy for Forex Trading Education">
  <meta name="twitter:description" content="Gold Elite Deals - Your premier Forex Academy offering comprehensive courses, expert education, and valuable resources. Learn forex trading from industry professionals, master trading strategies, and gain the knowledge to excel in the forex market. Join us today and take your forex trading skills to the next level.">
  <meta name="twitter:image" content="assets/img/ged.jpg">

    
   <title>GED Academy</title>

   <link href="assets/img/logopng2.png" rel="icon">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Krub:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="gedschool/vendor/aos/aos.css" rel="stylesheet">
  <link href="gedschool/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="gedschool/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="gedschool/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="gedschool/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="gedschool/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="gedschool/css/style.css" rel="stylesheet">

 
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="#"></a>GED Academy</h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
         
          <li><a class="nav-link scrollto" href="#testimonials">Testimonials</a></li>
          <li><a class="nav-link scrollto" href="#contact">Help Line</a></li>
          <li><a class="getstarted scrollto" href="/forexDetail">Start Learning</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container d-flex flex-column align-items-center justify-content-center" data-aos="fade-up">
      <h1>Unleash Your Trading Potiential with Our Forex Mastery</h1>
      <h2>Master the act of Forex Trading For Financial Freedom</h2>
      <a href="/forexDetail" class="btn-get-started scrollto">Learn Forex Trading For Free</a>
      <img src="assets/img/currencysvg/Bitcoin-cuate.svg" class="img-fluid hero-img" alt="" data-aos="zoom-in" data-aos-delay="150">
    </div>

  </section><!-- End Hero -->

  <main id="main">



    <!-- ======= about Section ======= -->
    <section id="about" class="about" data-aos="fade-up">
      <div class="container">

        <div class="section-title">
          <h2>How Can We Help?</h2>
          <p>Discover the driving force behind our passion for Forex success</p>
        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right" data-aos-delay="100">
            <img src="assets/img/currencysvg/Bitcoin-bro.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-4" data-aos="fade-left" data-aos-delay="100">
            <h3>Comprehensive Forex Education</h3>
            <p>
            Our structured curriculum is designed to equip you with the knowledge, skills, and confidence needed to navigate the Forex market with precision.
            </p>
            <p>
              Through our engaging online courses, interactive webinars, and comprehensive resources, you will gain a deep understanding of technical analysis, fundamental analysis, risk management, and trading psychology.
            </p>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
            <img src="assets/img/currencysvg/Finance-pana.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
            <h3>Expert-Led Training</h3>
         
            <p>
             Learn from the best in the industry as our expert traders and mentors guide you through the intricacies of Forex trading. Benefit from their years of experience, proven strategies, and practical insights.
            </p>
            <p>
              As part of our Forex Trading Academy, you will also have access to trading tools, real-time market analysis, and ongoing support from our community of traders.
            </p>
          </div>
        </div>

        

      </div>
    </section><!-- End about Section -->

    
        <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p></p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Enrolling in Gold ELite Academy was the best decision I made for my trading journey. The academy's comprehensive curriculum, led by knowledgeable instructors, provided me with the essential skills and insights to navigate the forex market with confidence.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="" class="testimonial-img" alt="">
                <h3>Wale</h3>
                
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  As a beginner in forex trading, I was looking for a reliable academy to start my journey. Gold Elite Deals exceeded my expectations.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="" class="testimonial-img" alt="">
                <h3>Ini</h3>
                
              </div>
            </div><!-- End testimonial item -->

            
            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  The educational resources, webinars, and interactive sessions offered by GED have given me the tools and confidence to make well-informed trading decisions.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="" class="testimonial-img" alt="">
                <h3>Hazel</h3>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                 I can confidently say that Gold Elite Deals has transformed my life. The academy's emphasis on risk management and technical analysis has helped me developed a strategic approach to trading.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="" class="testimonial-img" alt="">
                <h3> Kwame</h3>
              </div>
            </div><!-- End testimonial item -->


          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
   
    <!-- ======= Pricing Section ======= -->
   <!-- <section id="pricing" class="pricing section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Pricing</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <h3>Free</h3>
              <h4><sup>$</sup>0<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li class="na">Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="100">
            <div class="box featured">
              <h3>Business</h3>
              <h4><sup>$</sup>19<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <h3>Developer</h3>
              <h4><sup>$</sup>29<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>-->
    <!-- End Pricing Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Contact Us</h2>
      <p></p>
    </div>

    <div class="row">

      <div class="col-lg-12">

        <div class="row">
        
          <div class="col-md-12">
            <div class="info-box mt-4">
              <i class="bx bxl-instagram"></i>
              <h3>Instagram</h3>
              <p><br>@GOLDELITEDEALS</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="info-box mt-4">
              <i class="bx bx-envelope"></i>
              <h3>Email</h3>
              <p><br>support@goldelitedeals.com</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="info-box mt-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p><br>+234 909 551 3595</p>
            </div>
          </div>
        </div>

      </div>


</main><!-- End #main -->


  <!-- ======= Footer ======= -->
  <footer id="footer">


    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
        <center> © Copyright <strong><span>GoldEliteDeals</span></strong></center> 
        </div>
       
      </div>
     
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  
  <!-- Vendor JS Files -->
  <script src="gedschool/vendor/aos/aos.js"></script>
  <script src="gedschool/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="gedschool/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="gedschool/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="gedschool/vendor/swiper/swiper-bundle.min.js"></script>


  <!-- Template Main JS File -->
  <script src="gedschool/js/main.js"></script>

</body>

</html>