<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Gold Elite Deals</title>
  <meta name="description" content="Gold Elite Deals - Your trusted source for forex trading education, expert mentorship, and valuable financial advice. Learn forex trading strategies, get personalized mentorship, and receive expert guidance on achieving your financial goals. Join us today and take control of your financial future.">
  <meta name="author" content="Gold Elite Deals">
  <meta name="robots" content="GED">
  <meta property="og:title" content="Gold Elite Deals - Forex Trading Education, Mentorship, and Financial Advice">
  <meta property="og:description" content="Gold Elite Deals - Your trusted source for forex trading education, expert mentorship, and valuable financial advice. Learn forex trading strategies, get personalized mentorship, and receive expert guidance on achieving your financial goals. Join us today and take control of your financial future.">
  <meta property="og:image" content="assets/img/ged.jpg">
  <meta name="twitter:title" content="Gold Elite Deals - Forex Trading Education, Mentorship, and Financial Advice">
  <meta name="twitter:description" content="Gold Elite Deals - Your trusted source for forex trading education, expert mentorship, and valuable financial advice. Learn forex trading strategies, get personalized mentorship, and receive expert guidance on achieving your financial goals. Join us today and take control of your financial future.">
  <meta name="twitter:image" content="assets/img/ged.jpg">

  <!-- Favicons -->
  <link href="assets/img/logopng2.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  


</head>
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a href="index.html"><img src="assets/img/logopng2.png" alt="" class="img-fluid"><span>Gold Elite Deals</span></a>
        <!--<h1 class="text-light"><a href="index.html"><span>Gold Elite Deals</span></a></h1>-->
        <!-- Uncomment below if you prefer to use an image logo -->

      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About Us</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">Events</a></li>
          <li><a class="nav-link scrollto" href="/gedmentor">Mentorship Program</a></li>
          
          <li><a class="nav-link scrollto" href="#footer">Contact</a></li>
          <li><a class="getstarted scrollto" href="/gedSchool">Learn Forex For Free</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Discover Financial Excellence With Gold Elite Deals</h1>
          <h2>Empowering you through expert advising, forex mastery, and transformative mentorship</h2>
          <h2>RC NO 3439100</h2>
          <div>
            <a href="/gedSchool" class="btn-get-started scrollto">GED Academy</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="assets/img/currencysvg/Currency-rafiki.svg" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
            <img src="assets/img/currencysvg/Finance-cuate.svg" class="img-fluid" alt="" data-aos="zoom-in">
          </div>
          <div class="col-lg-6 pt-5 pt-lg-0">
            <h3 data-aos="fade-up">Empowering Financial Success through Education and Mentorship</h3>
            <p data-aos="fade-up" data-aos-delay="100">
              Unleash Your Potential with our Forex Trading Academy and Personalised Mentorship Programs
            </p>
            <div class="row">
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-briefcase"></i>
                <h4>Forex Trading Academy</h4>
                <p>Our Forex Trading Academy stands at the forefront of excellence, offering a wealth of educational resources. </p>
              </div>
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-group"></i>
                <h4>Personalised Mentorship Programs</h4>
                <p>At GED we believe that mentorship plays a vital role in shaping your trading journey
                  <p>
                    We are a registered company under the Corporate Affairs Commision (CAC) and our CAC number is <b>RC NO 3439100</b>
                  </p>
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->



        <!-- ======= Services Section ======= -->
        <section id="services" class="services section-bg">
          <div class="container" data-aos="fade-up">
    
            <div class="section-title">
              <h2>Services</h2>
              <p>Unlock your wealth potiential with our expertly crafted services</p>
            </div>
    
            <div class="row">
              <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-dollar"></i></div>
                  <h4 class="title"><a href="#footer">Comprehensive Financial Advising</a></h4>
                  <p class="description">At Gold Elite Deals, we offer comprehensive financial services that tailored to your unique goals and aspirations
                   
                  </p>
                </div>
              </div>
    
              <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-book"></i></div>
                  <h4 class="title"><a href="/gedSchool">Forex Trading Academy</a></h4>
                  <p class="description">Our Academy is a gateway to mastering the dynamic and exciting world of Forex trading, providing you with knowledge, skills, and strategies necessary to navigate the markets with confidence</p>
                </div>
              </div>
    
              <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                  <div class="icon"><i class="bx bxs-user-plus"></i></div>
                  <h4 class="title"><a href="/gedmentor">Personalised Mentorship Program</a></h4>
                  <p class="description">Our experts works closely with you to understand your individual trading style, strenghts, and areas for improvemnts</p>
                </div>
              </div>
    
              <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-calendar-event"></i></div>
                  <h4 class="title"><a href="#footer">Hosting Financial Events</a></h4>
                  <p class="description">At Gold Elite hosting financial events is just one facet of our dedication to your financial growth and success</p>
                </div>
              </div>
    
            </div>
    
          </div>
        </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Gallery</h2>
          <p>Check out our events</p>
        </div>

        <!-- video -->
        <!--
          "<iframe width="560" height="315" src="https://www.youtube.com/embed/mCCRQZRI95w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        -->
        <!--
          <video width="640" height="360" controls>
         <source src="path_to_video_file.mp4" type="video/mp4">
         <source src="path_to_video_file.webm" type="video/webm">
         Your browser does not support the video tag.
       </video>
        -->

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/galerry1.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/galerry1.png" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bi bi-list"></i></a>
               
              </div>
              <div class="portfolio-info">
                <h4> </h4>
                <p></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/gallery2.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/gallery2.png" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class=" bi bi-list"></i></a>
                
              </div>
              <div class="portfolio-info">
                <h4></h4>
                <p></p>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/New folder/IMG-20230518-WA0032.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/New folder/IMG-20230518-WA0032.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class=" bi bi-list"></i></a>
                
              </div>
              <div class="portfolio-info">
                <h4></h4>
                <p></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/gallery3.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/gallery3.png" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class=" bi bi-list"></i></a>
               
              </div>
              <div class="portfolio-info">
                <h4></h4>
                <p></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/New folder/gallery 8.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/New folder/gallery 8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class=" bi bi-list"></i></a>
                
              </div>
              <div class="portfolio-info">
                <h4></h4>
                <p></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/New folder/gallery4.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/New folder/gallery4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class=" bi bi-list"></i></a>
                
              </div>
              <div class="portfolio-info">
                <h4></h4>
                <p></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/New folder/gallery7.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/New folder/gallery7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class=" bi bi-list"></i></a>
                
              </div>
              <div class="portfolio-info">
                <h4></h4>
                <p></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/New folder/gallery9.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/New folder/gallery9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class=" bi bi-list"></i></a>
                
              </div>
              <div class="portfolio-info">
                <h4></h4>
                <p></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/New folder/IMG-20230518-WA0028.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/New folder/IMG-20230518-WA0028.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class=" bi bi-list"></i></a>
                
              </div>
              <div class="portfolio-info">
                <h4></h4>
                <p></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/New folder/IMG-20230518-WA0047.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/New folder/IMG-20230518-WA0047.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class=" bi bi-list"></i></a>
                
              </div>
              <div class="portfolio-info">
                <h4></h4>
                <p></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/New folder/IMG-20230518-WA0052.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/New folder/IMG-20230518-WA0052.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class=" bi bi-list"></i></a>
                
              </div>
              <div class="portfolio-info">
                <h4></h4>
                <p></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/New folder/IMG-20230518-WA0029.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/New folder/IMG-20230518-WA0029.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class=" bi bi-list"></i></a>
                
              </div>
              <div class="portfolio-info">
                <h4></h4>
                <p></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/New folder/IMG-20230518-WA0030.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/New folder/IMG-20230518-WA0030.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Fullscreen"><i class=" bi bi-list"></i></a>
                
              </div>
              <div class="portfolio-info">
                <h4></h4>
                <p></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/goldgallery1.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/goldgallery1.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Fullscreen"><i class=" bi bi-list"></i></a>
                
              </div>
              <div class="portfolio-info">
                <h4></h4>
                <p></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/goldgallery2.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/goldgallery2.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Fullscreen"><i class=" bi bi-list"></i></a>
                
              </div>
              <div class="portfolio-info">
                <h4></h4>
                <p></p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

  
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Seize The Opportunity and Connect With Us Today</h4>
            <p>Reach out to GED now! Embark on your extraordinary financial journey.</p>
            <form action="mailto:toyosi@goldelitedeals.com">
              <input type="text" name="text"><input type="submit" value="Send Us an Email">
            </form>
          </div>
        </div>
      </div>
    </div>


    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Gold</span></strong>Elite Deals
      </div>
      <div class="credits">
       
        All illustration by <a href="https://storyset.com/">Storyset</a>
      </div>
    </div>
  </footer><!-- End Footer -->
  
 <div id="preloader">
  <div id="loader"></div>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
 
  <!-- Vendor JS Files -->
  <script src="assets/js/script.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>


  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>