<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


    
   <title>Book a Meeting</title>

   <link href="assets/img/logopng2.png" rel="icon">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Krub:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="gedschool/vendor/aos/aos.css" rel="stylesheet">
  <link href="gedschool/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="gedschool/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="gedschool/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="gedschool/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="gedschool/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="gedschool/css/style.css" rel="stylesheet">

 
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">


      <h1 class="logo"><a href="https://calendly.com/d/y3d-yv6-snc/30min"></a>Schedule a Call</h1>

      <h1 class="logo"><a href="#"></a></h1>

      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      

    </div>
  </header><!-- End Header -->


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container d-flex flex-column align-items-center justify-content-center" data-aos="fade-up">

      <h1>We are Here For You</h1>
     

     
   

      
      <a href="https://calendly.com/d/y3d-yv6-snc/30min" class="btn-get-started scrollto">Speak To a Mentor</a>
      <img src="assets/img/Money motivation-amico.svg" class="img-fluid hero-img" alt="" data-aos="zoom-in" data-aos-delay="150">
    </div>

  </section><!-- End Hero -->





  <!-- ======= Footer ======= -->
  <footer id="footer">


    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
        <center> © Copyright <strong><span>GoldEliteDeals</span></strong></center> 
        </div>
       
      </div>
     
    </div>
  </footer><!-- End Footer -->


  
  <!-- Vendor JS Files -->
  <script src="gedschool/vendor/aos/aos.js"></script>
  <script src="gedschool/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="gedschool/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="gedschool/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="gedschool/vendor/swiper/swiper-bundle.min.js"></script>


  <!-- Template Main JS File -->
  <script src="gedschool/js/main.js"></script>

</body>

</html>
